* {
  padding: 0em 0em;
  margin: 0em 0em;
}

body {
  font-family: STKaiti, DFKai-SB, Arial, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Microsoft JhengHei",
    "Helvetica Neue", sans-serif;
  /*
    font-family:
        STKaiti, DFKai-SB, Arial, // 建議字體 中文：楷體，標楷體 英文：Arial
        -apple-system, BlinkMacSystemFont,  // 系統預設字體
        "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Microsoft JhengHei", // 指定已知的系統UI字體
        "Helvetica Neue", sans-serif; //備援字體
    */
}

@media (max-width: 543px) {
  h1,
  h2 {
    font-size: 1rem;
  }
  h3,
  h4 {
    font-size: 0.9rem;
  }
  h5,
  h6 {
    font-size: 0.8rem;
  }
  body,
  title,
  nav {
    font-size: 0.9rem;
  }
}
@media (min-width: 544px) {
  h1,
  h2 {
    font-size: 1rem;
  }
  h3,
  h4 {
    font-size: 0.9rem;
  }
  h5,
  h6 {
    font-size: 0.9rem;
  }
  body,
  title,
  nav {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 1.2rem;
  }
  h3,
  h4 {
    font-size: 1rem;
  }
  h5,
  h6 {
    font-size: 1rem;
  }
  body,
  title,
  nav {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  h1,
  h2 {
    font-size: 1.2rem;
  }
  h3,
  h4 {
    font-size: 1.1rem;
  }
  h5,
  h6 {
    font-size: 1rem;
  }
  body,
  title,
  nav {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  h1,
  h2 {
    font-size: 1.4rem;
  }
  h3,
  h4 {
    font-size: 1.2rem;
  }
  h5,
  h6 {
    font-size: 1.1rem;
  }
  body,
  title,
  nav {
    font-size: 1.2rem;
  }
}

.navbar {
  background-color: #000066 !important;
}
.navbar .navbar-toggler {
  background-color: white !important;
}
.navbar .collapse .navbar-nav li a {
  color: white !important;
}
.navbar .collapse .navbar-nav li a:hover {
  color: #33ffcc !important;
  background-color: #0066ff;
}
.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item {
  color: #660033 !important;
}
.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item:hover {
  color: #cc0033 !important;
  background-color: #d0d0d0 !important;
}

.navbar .navbar-brand {
  color: yellow !important;
}

.page-footer {
  background-color: #0066ff !important;
}
#main_footer {
  background-color: #000066 !important;
  color: #fff;
}
#app footer {
  background-color: #006;
  color: #000;
}
#main_heading {
  padding: 0 5px 0 5px;
}
#app footer p {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0000cc;
  font-weight: bold;
}

div.fixed {
  position: fixed;
  top: 40px;
  left: 100px;
  color: #000099;
  background: rgba(255, 255, 255, 0.7);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.jumbotron {
  background-size: cover;
  background-position: center center;
  min-height: 200px;
}
.jumbotron-bg1 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-01.jpg");
}
.jumbotron-bg11 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-011.jpg");
}
.jumbotron-bg2 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-02.jpg");
}
.jumbotron-bg21 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-21.jpeg");
}
.jumbotron-bg23 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-023.jpg");
}
.jumbotron-bg25 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-025.jpeg");
}
.jumbotron-bg26 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-026.jpg");
}
.jumbotron-bg3 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-03.jpg");
}
.jumbotron-bg4 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-04.jpg");
}
.jumbotron-bg41 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-041.jpg");
}
.jumbotron-bg44 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-044.jpg");
}
.jumbotron-bg46 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-046.jpg");
}
.jumbotron-bg5 {
  background-image: url("../fig/A7-01-Navigation/A7XLK-001-Banner-051.jpg");
}
.bg-lighter {
  background-color: rgb(0, 0, 0, 0.4);
}
